<link rel="stylesheet" href="/css/signForm.css">

<div id="signin-form"">
    <div class=" signIn-div">

    <h1>User Sign In.</h1>
    <form action="/users/create-session" method="post">
        <div>
            <input type="email" name="email" placeholder="Your Email" required>
        </div>
        <div>
            <input type="password" name="password" placeholder=" Your Password" required>
        </div>
        <div>
            <button id="button" type="submit">Submit</button>
        </div>
    </form>
</div>
<p>
    <a href="/users/auth/google">Google SignIn/Up</a>
    
  </p>
  <p> <span><a href="/forget-password">Forget Password</a></span></p>
</div>