<div>
  <p>Hi <%= comment.user.name %>!</p>
  <div>
    <p>
      Your Comment <strong><%= comment.content %> </strong> Just Got Published
      On Codieal.
    </p>
    <p>Thanks!</p>
  </div>
</div>
