#signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 10px;
  margin-bottom: 3%;
  #signUp-form {
    border-radius: 5px;
    border: 1px solid lightgray;
  }
  #signUp-form div {
    margin: 20px;

    input {
      padding: 10px;
    }
  }
  #button {
    margin-left: 50px;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    background: #3a72da;
    color: #fff;
  }
}

/// sign IN form
///
#signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 10px;
  margin-bottom: 3%;
  .signIn-div {
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  .signIn-div div {
    margin: 30px;
    input {
      padding: 10px;
    }
  }
  #button {
    margin-left: 50px;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    background: #3a72da;
    color: #fff;
  }
}
